/* General Styles & Variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
	--box-shadow-color: rgb(76, 78, 97, .15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: var(--very-light-gray);
	font-family: 'Poppins', sans-serif;
	color: var(--grayish-blue);
	margin: 0;
	padding: 0;
}

/* Font Styles */

h1 {
	color: var(--very-dark-blue);
	font-weight: 200;
	font-size: 24px;
	margin: 0;
}

.h1-bold {
	color: var(--very-dark-blue);
	font-weight: 600;
}

h2 {
	color: var(--very-dark-blue);
	font-weight: 600;
	margin: 15px 15px;
}

h3 {
	color: var(--grayish-blue);
	font-weight: 400;
}

p {
	font-size: 13px;
	margin: 15px 15px;
}

.p1-header {
	margin: 15px 10px;
	max-width: 450px;
}

/* Layout & Page Elements */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 20px 75px 20px;
	text-align: center;
}

section {
	border-radius: 8px;
	margin: 0px 30px 30px 30px;
	height: 225px;
	box-shadow: 0 10px 20px 10px var(--box-shadow-color);
	padding: 15px;
	position: relative;
}

section::before {
	position: absolute;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	content: '';
	height: 4px;
	width: 100%;
	top: 0;
	left: 0;
}

img {
    float: right;
    margin: 15px 15px 15px 15px;
    height: 60px;
}

.section-one::before {
	background-color: var(--cyan);
}

.section-two::before {
	background-color: var(--red);
}

.section-three::before {
	background-color: var(--orange);
}

.section-four::before {
	background-color: var(--blue);
	margin-bottom: 50px;
}

footer {
	padding: 30px 30px 15px 30px;
	text-align: center;
}

/* Styles for Desktop */

@media only screen and (min-width: 992px) {
	section {
  		max-width: 310px;
  	}
  	main {
		display: grid;
		grid-template-areas: ". . two . ."
                       ". one two four ."
                       ". one three four ."
                       ". . three . .";
  		grid-template-rows: 1fr 1fr 1fr 1fr;
  		grid-template-columns: 1fr 370px 370px 370px 1fr; 
  	}
  	.section-one {
  		grid-area: one;
		margin-right: 0;
		margin-left: 60px
  	}
  	.section-two {
  		grid-area: two;
  	}
  	.section-three {
  		grid-area: three;
  	}
  	.section-four {
  		grid-area: four;
  		margin-left: 0;
  	}
} 